body{
  background-color: #eee;
  font-family: Circular, Helvetica, sans-serif;
  max-width:800px;
  margin:40 auto;
  padding:;
  text-align: left;
}

#header a{
  font-size: 18px;
  text-decoration: none;
  color:#999;
  padding: 5px;
}
#header a:hover{
  font-weight:bold;
  color:#777;
}
#header a:nth-child(2){
  float:right;
}
#header div{
  height:2px;
  width:100%;
  background-color:#bbb;
  margin-top:10px;
  margin-bottom:50px;
}

#title{
  color: #222;
  font-size:2em;
  text-align: left;
  float:left;
  white-space: nowrap;
  margin-top:0px;
}

.section{
  width:100%;
  margin-bottom:40px;
  overflow: auto;
}

.label{
  display:block;
  max-width:150px;
  position:absolute;
}

.text{
  float:left;
  margin-left:200px;
}

.text p{
  margin-top:0;
}

.bold{
  font-weight: bold;
}

#progress{
  display:none;
}
